<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.title}">Reseteo de contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <style>
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            a {
                color: #3E8ACC;
            }
            .title {
                font-size: xx-large;
            }
        </style>
    </head>
    <body>
            <h1 class="title">Alumno-Control</h1>
        <p th:text="#{email.reset.greeting(${user.firstName})}">
            Nombre
        </p>
        <p>
            Se solicitó una recuperación de contraseña para su cuenta. Si es usted quien lo requiere, por favor haga click en el link de reseteo de contraseña. De lo cotrario, ignore este mensaje.
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}">Reseteo de contraseña</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">Alumno-Control.</em>
        </p>
    </body>
</html>
